<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RABBIT WORD</title>
    <link rel="shortcut icon" href="#" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body class="bg-dark p-2" style="overflow-x: hidden">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card opacity-75">
                <small class="d-flex justify-content-between">
                    <span></span>
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="alert alert-info btn-sm">
                        Author
                    </button>
                </small>
                <img src="{{url_for('static',filename='rabbit.jpg')}}" alt="image"
                    class="thumbnail card-img-center w-50" />
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center my-2">
        <div class="col-md-6 text-center">
            <div class="card" style="height: 100wh">
                <div class="card-body" id="body" onclick="myfunc(event)"></div>
                <div class="card-footer row">
                    <div class="col">
                        <a href="#" onclick="Paragraph()" class="btn btn-info">Paragraph</a>
                    </div>
                    <div class="col">
                        <a href="#" onclick="Sentence()" class="btn btn-success">Sentence</a>
                    </div>
                    <div class="col">
                        <a href="#" onclick="Word()" class="btn btn-warning">Word</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="kt_docs_toast_stack_container" class="toast-container position-fixed top-0 end-0 ">
        <div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true" data-kt-docs-toast="stack">
            <div class="toast-header d-flex justify-content-between">
                <small>RABBIT WORD</small>
                <span></span>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="lock">
            </div>
        </div>
    </div>
    <!--end::Toast-->


    <!-- Modal -->
    <div class="modal fade bg-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <span>
                            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHYWmDA_dliZw/profile-displayphoto-shrink_200_200/0/1661542831565?e=1669852800&v=beta&t=uu-pkLA5aNRfcM9uqRRBN1M_jr1ri63OrHGioVnd0vU"
                                alt="" class="img-card-top rounded-circle w-25">
                            <small style="font-family: 'Courier New', Courier, monospace;">Ümit KOÇ</small>
                        </span>

                        <button type="button text-light" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <card class="body p-2 text-center">
                        <small style="font-family: 'Courier New', Courier, monospace;">Software Engineer</small>
                        <ul class="wrapper">
                            <li class="icon github">
                                <span class="tooltip">Medium</span>
                                <a href="https://umit-koc.medium.com" style="color:black;" target="_blank">
                                    <i class="fab  fa-medium"></i>
                                </a>
                            </li>
                            <li class="icon facebook">
                                <span class="tooltip">Linkedin</span>
                                <a href="https://www.linkedin.com/in/umittkoc/" style="color:black;" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="icon facebook">
                                <span class="tooltip">Stackoverflow</span>
                                <a href="https://stackoverflow.com/users/11622444/umit-koc" style="color:black;"
                                    target="_blank">
                                    <i class="fab fa-stack-overflow"></i>
                                </a>
                            </li>
                            <li class="icon twitter">
                                <span class="tooltip">Discord</span>
                                <a href="https://discord.gg/hFykxKxHQR" style="color:black;" target="_blank">
                                    <i class="fab  fa-discord"></i>
                                </a>
                            </li>
                            <li class="icon instagram">
                                <span class="tooltip">Instagram</span>
                                <a href="https://www.instagram.com/umiit.koc/" style="color:black;" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="icon github">
                                <span class="tooltip">Github</span>
                                <a href="https://github.com/umitkoc" style="color:black;" target="_blank">
                                    <i class="fab fa-github">
                                    </i>

                                </a>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <p style="font-family: 'Courier New', Courier, monospace;"> 
                                I completed my 3.5-year education year at the Department of Software Engineering at
                                Firat University.
                                I want to implement and manage national and international projects that touch people's
                                lives in a company where I can use my experience, demonstrate my technical knowledge and
                                skills, and be useful. In line with this goal, I continue to improve myself with the
                                principle of life long learning.
                            </p>
                        </div>
                    </card>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static',filename='main.js')}}"></script>
</body>

</html>